
<div class="panel panel-danger">
	<div class="panel-heading">
		You already voted for this iteration.
	</div>
  <div class="panel-body">
    <%= link_to "Open Dashboard",
    	project_dashboard_index_path(@project),
    	html_options = {class: "btn  btn-primary dashboard-link"} %>
  </div>
</div>