<div class="container">
  <div class="col-md-12">
    <div class="row rating-header">
      <div class="col-md-12">
        <%= @iteration.name %>
      </div>
    </div>

  	<% @indicators.each do |indicator| %>
  		<div class="row">
        <div class="col-md-12">
          <%= indicator.name %>
        </div>
  		</div>
  	<% end %>

    <div class="row rating-action">
      <div class="col-md-12">
        <%= form_tag(project_ratings_path(project_id: @project.id)) do%>
          <%= submit_tag 'Vote' %>
        <% end %>
      </div>
    </div>
  </div>
</div>