@mixin right-arrow($size, $color) {
  position: relative;

  &:after {
    content: ' ';
    position: absolute;
    left: 100%;
    width: 0; 
    height: 0;
    font-size: 0;
    line-height: 0;
    top: 0;
    border-bottom: $size solid transparent;  
    border-top: $size solid transparent; 
    border-left: $size solid $color; 
    z-index: -1;
  }
}

$red1: #FF3900;
$red2: #BF5030;
$red3: #A62500;
$red4: #FF6B40;
$red5: #FF9273;

$blue1: #01939A;
$blue2: #1D7074;
$blue3: #006064;
$blue4: #34C6CD;
$blue5: #5DC8CD;

$green1: #48DD00;
$green2: #52A529;
$green3: #2F8F00;
$green4: #75EE3B;
$green5: #95EE6B;