.dashboard {

  .indicators {

    .indicator {
      @extend .col-xs-11;
      @extend .col-sm-5;
      @extend .col-md-4;
      @extend .col-lg-3;

      padding: 0;
      margin: 5px;
      background-color: $blue3;
      font: 24px bold;
      line-height: 24px;
      z-index: -2;


      &.good {
        background-color: $blue3;
      }

      &.bad {
        background-color: $blue3;
      }

      .title {
        @include right-arrow(22px, $blue5);
        float: left;
        margin: 0;
        padding: 10px 15px;
        background-color: $blue5;
        white-space: nowrap;
        width: 40%;
      }

      .mean {
        padding: 10px 15px;
        color: white;
        text-shadow: 1px 1px #333;
        float: right
      }
    }
  }
}
