.dashboard {
  @extend .container;

  .indicators {
    @extend .list-group;

    .indicator {
      @extend .list-group-item;
      @extend .col-md-7;
      padding: 0;
      margin: 5px 0;
      background-color: $blue5;
      font: 24px bold;
      line-height: 24px;

      .title {
        padding: 10px 15px;
        @extend .list-group-item-heading;
      }

      .mean {
        padding: 10px 15px;
        background-color: $blue3;
        color: white;
        float: right
      }
    }
  }
}
