.dashboard {

  .indicators {

    .indicator {
      @extend .col-xs-11;
      @extend .col-sm-5;
      @extend .col-md-4;
      @extend .col-lg-3;
      @include unrated;

      padding: 0;
      margin: 5px;
      font: 24px bold;
      line-height: 24px;
      z-index: -2;

      &.deathly {  @include deathly; }
      &.ill {  @include ill; }
      &.fine {  @include fine; }
      &.good {  @include good; }
      &.healthy {  @include healthy; }

      .title {
        @include right-arrow(22px, $light);
        float: left;
        margin: 0;
        padding: 10px 15px;
        background-color: $light;
        color: $dark;
        white-space: nowrap;
        width: 40%;
        text-shadow: none;
      }

      .mean {
        padding: 10px 15px;
        float: right;
      }

      .comments {
        padding: 10px 10px;
        float: left;
        margin-left: 30px;
        margin-top: 5px;
      }
    }
  }
}
