// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#rating {
  @extend .container;

  .rating-header {
  	@extend .col-md-12;
  	font-weight: bold;
    font-size: 1.2em;
  }

	.indicator {
	  @extend .col-md-12;
    background: rgb(220, 220, 220);

	  .name {
	    @extend .col-md-6;
	  }

    .score {
      @extend .col-md-6;
    }
	}

  .row rating-action {
    @extend .col-md-12;
  }
}
