// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#rating {
  @extend .container;

  .rating-header {
  	@extend .col-md-12;
  	font-weight: bold;
    font-size: 1.2em;
    padding: 20px 15px;
    text-align: center;
    background: #5DC8CD;
    color: #006064;
  }

	.indicator {
	  @extend .col-md-12;
    padding: 15px 15px;
    background: #A0A0A0;
    border: 1px solid #606060;

	  .name {
	    @extend .col-md-12;

      .indicator-name {
        font-size: 1.1em;
        font-weight: bold;
      }

      .comment-button {
        float: right;
      }
	  }

    .score {
      @extend .col-md-12;

      span {
        float: left;
      }

      span.indicator-excluded {
        width: 70px;
      }

      span.indicator-slider {
        min-width: 185px;
      }

      div.slider-track {
        height: 20px;
      }

      div.slider-handle {
        height: 30px;
      }
    }
	}

  .row rating-action {
    @extend .col-md-12;
  }
}
