// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#rating {
  @extend .container;

  .rating-header {
  	@extend .col-md-12;
  	font-weight: bold;
    font-size: 1.4em;
    padding: 20px 15px;
    text-align: center;
    background: #5DC8CD;
    color: #006064;
  }

	.indicator {
	  @extend .col-md-12;
    padding: 10px;
    border: 1px solid #606060;
    background: #C0C0C0;

	  .name {
	    @extend .col-md-12;

      .indicator-name {
        font-size: 1.4em;
        font-weight: bold;
      }

      .comment-button {
        float: right;
      }
	  }

    .score {
      @extend .col-md-12;

      .indicator-excluded, .indicator-slider {
        display: inline-block;
        height: 40px;
        line-height: 40px;
      }

      .indicator-excluded {
        width: 70px;
        display: inline-block;
      }

      .indicator-slider input{
        width: 240px;
      }

      .slider-track {
        height: 20px;
      }

      .slider-handle {
        height: 30px;
      }
    }
	}

  .row rating-action {
    @extend .col-md-12;
    font-size: 1.2em;
    font-weight: bold;
  }
}
